@(tituloModal: String, csssModal: Array[String], jssModal: Array[String])
@layouts.modal_large(tituloModal, csssModal, jssModal){
<div class="modal-body" style="padding-bottom: 15px;">
	<div class="row">
		<div class="col-md-4 workspace">
			<label class="texto-der oculto" id="txtMensajeRptaModal"></label>
			<h5 class="subtitulo" style="margin-bottom:15px">Módulos del Sistema</h5>
			<table class="list issues" style="" id="tablaModulos"></table>
		</div>
		<div class="col-md-4 workspace">
			<label id="id_modulo" class="oculto"></label>
			<h5 class="subtitulo" style="margin-bottom:15px">Subtítulos del Módulo</h5>
			<table class="list issues" style="" id="tablaSubtitulos"></table>
		</div>
		<div class="col-md-4 workspace">
			<label id="id_subtitulo" class="oculto"></label>
			<h5 class="subtitulo" style="margin-bottom:15px">Items del Subtitulo</h5>
			<table class="list issues" style="" id="tablaItems"></table>
		</div>
	</div>
</div>
}