@(tituloModal: String, csssModal: Array[String], jssModal: Array[String])
@layouts.modal_large(tituloModal, csssModal, jssModal){
<div class="modal-body" style="padding-bottom: 15px;">
	<div class="row">
		<div class="col-md-4 workspace">
			<label class="texto-der oculto" id="txtMensajeRptaModal"></label>
			<label class="oculto" id="id_rol"></label>
			<h5 class="subtitulo" style="margin-bottom:15px">Permisos del Sistema</h5>
			<table class="list issues" style="" id="tablaPermiso"></table>
		</div>
	</div>
</div>
}